.SearchBar{
    border-radius: 20px;
    color: rgb(15, 16, 16);
    padding-left:40px ;
    margin-bottom: 15px;
}

.SearchIcon{
    position: absolute;
    font-size: 1rem;
    padding: 10px;
    color: black;
}

.SearchIcon:hover{
    color: rgb(234, 136, 17);
}