.ProfileImage{
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 5px;
}

@media screen and (max-width: 991px) {
    .ProfileImage{
        height: 250px;
        width: 250px;
   
    }
}
.ProfileTitle{
    color:rgb(234, 136, 17);
    font-size: bolder;
}
.ProfileCount{
    font-size: 1rem;
    color:bisque;
}
h1{
    font-size: bolder;
    color:rgb(234, 136, 17);
}
h4{
    color:rgb(11, 195, 236);

}