.Logo{
    border-radius: 10px;
}

.NavLink i {
    color: black;
}
.NavLink span{
    padding: 5px;
    color: black;
}
.NavLink span:hover{
    color: rgb(65, 63, 63);
}

.Active i {
    color: rgb(58, 55, 55);
}